.title {
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size:100px;
    letter-spacing: 10px;
    color: #0c0025;
}

body {
    font-family: "Comfortaa", cursive;
    font-size: 30px;
    color: #201141;
    background: linear-gradient(211deg, #3e59dc, #a03edc, #e75347, #ebc548, #3edcb1, #3eaddc);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.col-1 {width: 6.67%;}
.col-2 {width: 13.33%;}
.col-3 {width: 20%;}
.col-4 {width: 26.67%;}
.col-5 {width: 33.33%;}
.col-6 {width: 40%;}
.col-7 {width: 46.67%;}
.col-8 {width: 53.33%;}
.col-9 {width: 60%;}
.col-10 {width: 66.67%;}
.col-11 {width: 73.33%;}
.col-12 {width: 80%;}
.col-13 {width: 86.67%;}
.col-14 {width: 93.33%}
.col-15 {width: 100%}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-color: transparent;
    font-family: "Comfortaa", cursive;
    border: 1px solid rgb(0, 47, 61);
    color: rgb(0, 47, 61);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 50px;
    border-radius: 30px;
    width: 180px;
    cursor: pointer;
}

button:hover {
    background-color: #a8efff;
    border-color: #a8efff;
}

button:focus {
    outline:0;
}

  /* begin cited code */
  /* w3schools How To - Toggle Switch: https://www.w3schools.com/howto/howto_css_switch.asp */

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(197, 67, 67);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* end cited code */

  


  .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid black;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 150%;
    height: 100%;
    background: #a8efff;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #a8efff;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: #a8efff;
    border-color: #a8efff;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(4);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }


  .zip_field {
    font-family: inherit;
    width: 100%;
    border: 1px solid black;
    outline: 0;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 25px;
    color: black;
    padding: 7px;
    background: transparent;
    transition: border-color 0.2s;
  }

  .zip_field:hover {
    border-color: #a8efff
  }
  
  .zip_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    color: #a8efff;
    border-width: 1px;
    border-color: #a8efff;
    border-image-slice: 1;
  }
  .zip_field:focus ~ .zip_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #a8efff;
    font-weight: 700;
  }
  
  /* reset input */
  .zip_field:required, .zip_field:invalid {
    box-shadow: none;
  }
