body {
    font-family: "Comfortaa", cursive;
    color: white;
    background-color: black;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.day {
    top: 30%;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 40px;
    text-indent: 40px;
    padding: 15px;
}

.time {
    top: 40%;
}

.quality {
    top: 50%;
    font-weight: bold;
    padding: 15px;
}

.percent {
    top: 60%;
}

.description {
    top: 70%;
    padding: 15px 10%;
}

.properties {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 30px;
    top: 12%;
}

img {
    width: 100%;
    height: auto;
}

button {
    position: fixed;
    background-color: transparent;
    font-family: "Comfortaa", cursive;
    border: 2px solid white;
    padding: 15px 22px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    width: 180px;
    cursor: pointer;
    position: fixed;
    margin-left: -90px;
    top: 72%;
    overflow: hidden;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: rgb(36, 132, 177);
}

/* begin cited code */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

.slides-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slides {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
/* end cited code */